.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

.expression {
  display: flex;
  align-items: center;
}

.box {
  padding: 12px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  margin: 8px;
  font-weight: bold;
  flex: 1;
}
